.container nav ul{list-style: none;}
.container nav ul li{display: inline;margin-left: 5%;}
.container nav ul li a{color: #fff;text-decoration: none;}
.container nav ul li a:hover{color: #ccc;}
.container section{text-align: center;margin: 0 auto;}
.container section.resumo{display: table;text-align: center;}
.container section.resumo .resumo-box{display: table-cell;background-color: #7A0CF5;width: 150px;height: 150px;text-align: center;vertical-align: middle;padding: 10%;}
.container section.administradores .btnCadastrar{float: right;margin-right: -1%;}